page-home {

.masters {
	background-color: #a5dff9;
}

.buttons {
	background-color: #ef5285;
}

.filters {
	background-color: #60c5ba;
}

.filter {
	color: black;
}

.lists {
	background-color: #fff1b9;
}
}
