<ion-header>
  <ion-navbar>
    <ion-title>여행일 검색하기</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    사용 휴가일수
    <button ion-button large color="light" item-right (click)="UpdateValue(1,-1);"><ion-icon name="remove"></ion-icon></button>
    <div item-right> {{ BREAK_DAY }} </div>
    <button ion-button large color="light" item-right (click)="UpdateValue(1,1);"><ion-icon name="add"></ion-icon></button>
  </ion-item>
  <ion-item>
    최소 여행일수
    <button ion-button large color="light" item-right (click)="UpdateValue(2,-1);"><ion-icon name="remove"></ion-icon></button>
    <div item-right> {{ MIN_TRAVEL_DAY }} </div>
    <button ion-button large color="light" item-right (click)="UpdateValue(2,1);"><ion-icon name="add"></ion-icon></button>
  </ion-item>
  <ion-item>
    검색 시작년도
    <button ion-button large color="light" item-right (click)="UpdateValue(3,-1);"><ion-icon name="remove"></ion-icon></button>
    <div item-right> {{ START_YEAR }} </div>
    <button ion-button large color="light" item-right (click)="UpdateValue(3,1);"><ion-icon name="add"></ion-icon></button>
  </ion-item>

  <button ion-button block (click)="Search();"><ion-icon name="search"> 검색하기</ion-icon></button>
  <ion-list>
    <ion-item *ngIf="TRAVEL_DAY_LIST.length > 0">
      <ion-label>정렬기준</ion-label>
      <ion-select [(ngModel)]="ORDER_BY" multiple="false" (ionChange)="ItemSorting(value);">
        <ion-option value=1 >가까운날짜순</ion-option>
        <ion-option value=2 >긴여행일순</ion-option>
      </ion-select>
    </ion-item>
    <ion-item-sliding *ngFor="let item of TRAVEL_DAY_LIST; let i = index;">
      <ion-item >
        <ion-card-header>
          여행기간 : {{ item.START_DATE }} ~ {{ item.END_DATE }}
        </ion-card-header>

        <ion-card-content>
          여행일수 : {{ item.TRAVEL_DAY }}
        </ion-card-content>
        <ion-card-content>
          휴가일 : {{ item.BREAK_LIST }}
        </ion-card-content>

        <ion-avatar item-left>
          공휴일 : {{ item.DETAIL_LIST }}
        </ion-avatar>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="ItemDelete(i);">
          <ion-icon name="trash"></ion-icon>
          리스트에서 삭제
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
